/* Style global pour tout */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Photo d'accueil avec filtre */
.image__duotone {
    position: relative;
    background-color: #6600A5;
    /* Couleur de fond */
    overflow: hidden;
    /* Empêche le débordement */
}

.image__duotone::before {
    content: "";
    position: absolute;
    inset: 0;
    /* Assure que l'effet couvre toute l'image */
    z-index: 1;
    background-color: #002149;
    /* Couleur semi-transparente */
    mix-blend-mode: lighten;
    /* Mélange pour éclaircir */
}

.image__duotone img {
    filter: grayscale(50%);
    mix-blend-mode: multiply;
    /* Conserve l'effet duotone */
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Adapte l'image sans déformer */
    z-index: 0;
    /* Place l'image sous l'effet */
    position: relative;
}



}
body {
    line-height: 1.6;
    background-color: var(--white);
    margin: 0;
    padding: 0;
    

}

h1,
h2 {
    font-weight: normal;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1em
}

h1 {
    font-size: 32px;
    font-weight: bold;

}

h2 {
    font-size: var 32px;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 20px;
    font-family: 'merriweather', sans-serif;
    text-align: left;
}

p {
    font-family: 'Merriweather', sans-serif;
    text-align: left;
}
a {

    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    /* Pas de soulignement au survol (optionnel) */
    color: #0056b3;
    /* Couleur légèrement différente */
    text-decoration: underline;
    /* Facultatif */
    color: #623FA1;
    /* Facultatif */
}






button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.noscroll {
    overflow: hidden;
}

.highlight {
    background-color: var(--primary);
    padding: 4px var(--space1x);
    font-weight: 500;
}

.page__image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.page__figure-caption {
    font-size: 12px;
    font-style: italic;
}



.gradient {
    background: var(--dgrad-header, linear-gradient(90deg, #623FA1 -1.91%, #696275 50.94%, #0044A5 100%));
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.separator {
    border: 1px solid #623FA1;
    box-shadow: 0px 0px 5px 0px #FFF;
    margin-left: 20px;
    margin-right: 20px;
}