footer {
    padding: 20px 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--dgrad, linear-gradient(180deg, #623FA1 0%, #757362 50%, #0044A5 100%));
}


footer h4 {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;

}




footer p {
    font-family: 'Alexandria', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white
}



.footer>nav: last-child {
    display: flex
}

.footer__nav {
    list-style: none;
    margin: 0;
   padding-bottom: 10px;
    gap: 10px;
}

.footer__socials {
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.footer__legal {
    color: #fff;
    border : 0;
}
.footer_legal-text{
    border-bottom: 0;
}
footer a {
    text-decoration: none;
    color: #fff;
    font-family: 'Alexandria', sans-serif;
    font-size: 16px;
}

.footer__list {
    display: flex;
    gap: 40px;
}



.list-unstyled {
    list-style: none;
    padding: 10px;
    margin right: 16px;
    maxrgin-left: 16px;
}


.footer__title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu__footer {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    margin: 10px;
    padding-top: 20px;
    
}

.footer__logo {
    max-width: 35%;
    padding-block-start: 10px;

}

.footer{
    padding-top: 0;
}

