.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space2x) var(--space3x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    z-index: 4;
    

}

.header__logo {
    display: block;
}

.header--page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space2x) var(--space3x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dgrad-header, linear-gradient(90deg, #623FA1 -1.91%, #696275 50.94%, #0044A5 100%));
}

.page__body {
    background: var(--dgrad-header, linear-gradient(90deg, #623FA1 -1.91%, #696275 50.94%, #0044A5 100%));
}
.header__menu-btn menu-btn {
    display: flex;
    
}

.header_droite
{
    display: flex;
    justify-content: space-between;
    gap: var(--space3x);
  }

  .header__anglais
{
    width: 30px;
    height: 30px;
}