.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space2x) var(--space3x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}

.header__logo {
    display: block;
}

.header--page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space2x) var(--space3x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white
}

.page__body {
    background: white
}

.header__menu-btn menu-btn {
    display: flex;
}