.custom-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(27, 54, 101, 1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
    max-width: 600px;
    text-align: left;
}

.aside__content {
    display: flex;
    gap: 15px;
    /* Augmente l'espacement entre l'image et le texte */
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.aside__image {
    width: 150px;
    /* Définit une largeur fixe proche de la taille désirée */
    height: 166px;
    /* Hauteur fixe correspondant au ratio */
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0;
}

.aside__text {
    flex-grow: 1;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    margin: 0;
}

.aside__text--main {
    margin: 0;
    padding-right: 10px;
}

.aside__text--secondary {
    font-family: 'Orbitron', serif;
    font-size: 14px;
    line-height: 1.4;
    color: white;
    padding-left: 10px;
    padding-right: 10px; ;
    padding-bottom: 10px;
}

/* Pour les écrans mobiles */
@media (max-width: 768px) {
    .aside__image {
        width: 370px;
        height: auto;
        /* Adapte la hauteur pour les écrans plus petits */
    }

    .aside__text {
        font-size: 14px;
    }

    .aside__text--main {
        font-size: 14px;
    }

    .aside__text--secondary {
        font-size: 12px;
    }
}
.aside__text--main b,
.aside__text--main strong {
    font-weight: bold;