.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 3;
    color: black;
    flex-direction: column;
    padding: var(--space5x) var(--space3x) var(--space3x);
    transform: translateX(-100vw);
    transition: all 0.3s ease-in-out;
    font-family: 'Merriweather', sans-serif;
    background: var(--dgrad, linear-gradient(180deg, #623FA1 0%, #757362 50%, #0044A5 100%));
    overflow-y: auto;

}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.menu__link {
    color: var(--black);
    text-decoration: none;
    font-size: var(--fs-xl);
    display: block;
}

.menu__link--silent {
    color: var(--gray-600);
    font-size: var(--fs-s);
}

.menu__item {
    margin-bottom: var(--space3x);
    padding-bottom: var(--space1x);
    border-bottom: 2px solid var(--black);
}

.menu__secondaire {
    display: flex;
    flex-direction: column;


}

.menu__langue,
.menu__terms {
    gap: var(--space2x);
    justify-content: center;
    margin-bottom: var(--space3x);
    align-items: center;
    gap: var(--space4x);
    display: inline-block;
    padding-left: 10px;
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: white;
    height: 3px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;

}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--black);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}


.menu__langue span {
    display: inline;
    margin: 0;
    font-size: 18px;

}

.menu__langue a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;

}

.header__menu.menu {
    padding: 8%;
    padding-left: 10px;
    padding-right: 10px;

}